@import '../../styles/mixins';

.wrap-content-question {
  background-color: #f8f8f8;
  .f-question {
    margin: 0 auto;
    width: 80%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 16px 16px 8px;
    box-shadow: 0 0 10px #c5c5c5;
    label {
      margin-bottom: 16px;
      width: fit-content;
      font-weight: 500;
      color: rgb(9, 132, 227);
    }
  }
  .slt {
    @extend .f-question;
    margin-top:16px;
  }
}
.nq {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
}
